/* font */
body {
  /* font stacks taken directly from Notion */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  -webkit-font-smoothing: auto;
}

body.theme-light, body.theme-dark  {
  /* change these numbers for an entirely new look */
  --hue: 203;
  --sat: 8%;
  --interactive-accent-rgb: 46, 170, 220;
  --code: #EB5757;
}

/* Dark theme */
.theme-dark {
  --L0: 0%;
  --L1: 20%;
  --L2: 23%;
  --L3: 26%;

  --text-rgb: 255, 255, 255;
  
  --text-highlight-bg:          rgb(89, 86, 59);
  --text-selection:             hsla(211, 100%, 50%, 0.2);
  --interactive-normal:         #2a2a2a;
  --interactive-hover:          #303030;

  --GText: hsl(var(--hue), var(--sat), 90%);
  --GFill: hsl(var(--hue), var(--sat), 50%);
  --GLine: hsl(var(--hue), var(--sat), var(--L3));
}

/* Light theme */
.theme-light {
  --L0: 0%;
  --L1: 100%;
  --L2: 96%;
  --L3: 90%;

  --text-rgb: 55, 53, 47;

  --text-highlight-bg:          rgb(251, 243, 219);
  --text-selection:             rgba(0, 122, 255, 0.15);
  --interactive-normal:         #f2f3f5;
  --interactive-hover:          #e9e9e9;

  --GText: hsl(var(--hue), var(--sat), 10%);
  --GFill: hsl(var(--hue), var(--sat), 50%);
  --GLine: hsl(var(--hue), var(--sat), var(--L3));
}


body.theme-light, body.theme-dark {  
  --background-primary:         hsl(var(--hue), var(--sat), var(--L1));
  --background-primary-alt:     hsl(var(--hue), var(--sat), var(--L3));
  --background-secondary:       hsl(var(--hue), var(--sat), var(--L2));
  --background-secondary-alt:   hsl(var(--hue), var(--sat), var(--L3));
  --background-accent:          hsl(var(--hue), var(--sat), var(--L0));
  --background-modifier-border: rgba(var(--text-rgb), 0.14);
  --text-accent:                rgba(var(--text-rgb), 0.45);
  --text-accent-hover:          rgba(var(--text-rgb), 0.45);
  --text-normal:                rgba(var(--text-rgb), 0.9);
  --text-muted:                 rgba(var(--text-rgb), 0.45);
  --text-faint:                 rgba(var(--text-rgb), 0.25);
  --text-on-accent:             rgba(var(--text-rgb), 0.9);
  --interactive-accent:         rgb(var(--interactive-accent-rgb));
  --interactive-accent-hover:   rgba(var(--interactive-accent-rgb), 0.8);
}
body.theme-light {
  --background-primary-alt:     hsl(var(--hue), var(--sat), var(--L2));
}

/* Fix font weights */
.view-header-title {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, strong, .cm-s-obsidian .cm-header {
  font-weight: 600;
}

/* headings */
.markdown-preview-view h1{
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 4px;
}
.markdown-preview-view h2{
  font-size: 24px;
  margin-top: 23px;
  margin-bottom: 1px;
}
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6{
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.cm-s-obsidian .cm-header-1 { font-size: 30px; }
.cm-s-obsidian .cm-header-2 { font-size: 24px; }
.cm-s-obsidian .cm-header-3,
.cm-s-obsidian .cm-header-4,
.cm-s-obsidian .cm-header-5,
.cm-s-obsidian .cm-header-6{ font-size: 20px; }
.cm-s-obsidian .cm-header-6 { color: var(--text-muted); }

/* links */
.external-link {
  background-image: none; /* no external link indicator */
  padding:0;
  color: var(--text-normal);
}

.markdown-preview-view .internal-link, .popover.hover-popover .markdown-embed .internal-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  line-height: 1.3;
  border-bottom: 1px solid var(--background-modifier-border);
  color: var(--text-normal);
  text-decoration: none;
}

/* Nifty SVG arrow before internal links */
/* Also applies to embeds */
.internal-link::before, .markdown-embed-link::before {
  content: " ";
  background-color: var(--text-normal);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpolygon points='5.4 26 24 7.4 24 20 26 20 26 4 10 4 10 6 22.6 6 4 24.6'%3E%3C/polygon%3E%3C/svg%3E");
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 4px;
}

/* embeds (mimics embedded tables from Notion) */
.markdown-embed-title {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
}

.markdown-preview-view .markdown-embed {
  border:none;
  margin:0;
  border-bottom: 1px solid var(--background-modifier-border);
  border-radius: 0;
}

.markdown-embed-link {
  color: var(--text-normal);
  right:unset;
  left: 0;
  height: 30px;
  width: calc(100% - 20px);
  margin-left: 4px;
  border-bottom: 1px solid var(--background-modifier-border);
}

.markdown-embed-link::before {
  font-size: 0.8em;
}

.markdown-embed-link svg {
  display: none; /* hide the svg link icon, gets replaced with a nifty arrow */
}

/* table headers and first column styling */
.markdown-preview-view th:first-child, .markdown-preview-view td:first-child {
  border-left: none;
}
.markdown-preview-view th:last-child, .markdown-preview-view td:last-child {
  border-right: none;
}

.markdown-preview-view th {
  text-align: left;
  font-weight: normal;
  color: var(--text-muted);
}

.markdown-preview-view td:first-child {
  font-weight: 600;
}

.markdown-preview-view hr {
  height: 1px;
  opacity: 0.5;
}

/* popover fixes */
.popover.hover-popover .markdown-embed-link {
  border-bottom: none;
}

/* task lists! */
.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-normal);
  border-radius: 2px;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0;
  margin-right: 4px;
  margin-bottom: 2px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.markdown-preview-view .task-list-item-checkbox:checked {
  border:none;
  background-color: var(--interactive-accent);
}
.markdown-preview-view .task-list-item-checkbox:hover {
  background-color: var(--background-primary-alt);
}
/* the SVG check mark */
.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left:1px;
  top:1px;
  right:1px;
  bottom:1px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
}

/* this should strike through checked off items, once CSS supports :has
  (it's draft right now) */
.markdown-preview-view .task-list-item:has(.task-list-item-checkbox:checked) {
  text-decoration: line-through;
  color: var(--text-muted);
}

.markdown-preview-view .task-list-item {
  margin-left: -40px;
}

/* Blockquotes */
.markdown-preview-view blockquote, .cm-s-obsidian pre.HyperMD-quote-1 {
  border:none;
  border-left: 3px solid currentcolor;
}

/* for some reason messing with the padding and size like this caused weirdness
  with the editor mode cursor position. So just preview for now */
.markdown-preview-view blockquote {
  padding: 0 0.9em;
  font-size: 1.2em;
  margin: 3px 2px;
}

/* code */
.markdown-preview-view code, .cm-s-obsidian span.cm-inline-code, .cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--code);
  font-family: var(--font-monospace);
}

/* escape character */
.cm-s-obsidian span.cm-hmd-escape-backslash {
  color: var(--text-faint);
}

/* highlight */
.markdown-preview-view mark {
  color: var(--text-normal);
}

/* bulleted lists */
ul { 
  list-style-type: disc; 
  padding-inline-start: 40px;
}
ul ul {
  padding-inline-start: 60px;
}

/* graph view colours */
.graph-view.color-fill {
  color: var(--GFill);
}
.graph-view.color-line {
  color: var(--GLine);
}
.graph-view.color-text {
  color: var(--GText);
}
.graph-view.color-fill-highlight {
  color: var(--interactive-accent);
}
.graph-view.color-line-highlight {
  color: var(--interactive-accent);
}

/* misc fixes */
.cm-s-obsidian span.cm-quote {
  color: var(--text-normal);
}

/* !!! Remove from here down if you want to use with Andy Matuschak mode V2 !!! */

.markdown-preview-view, .markdown-source-view {
  background-color: transparent;
}

/* bringing in the margins not necessary anymore due to "Readable line length" setting */
/* still like to add some padding at the bottom, though, for main panes */
.mod-root .markdown-source-view .CodeMirror-sizer, .mod-root .markdown-preview-view{
  padding-bottom: 30vh !important;
}
.CodeMirror-scroll {
  overflow-x: auto !important;
}

/* fix to padding top so that the editor and preview line up */
.markdown-source-view.is-readable-line-width .CodeMirror {
  padding: 0;
  padding-top: 15px;
}
.markdown-preview-view {
  padding-top: 0;
}

/* "inline" header (scrolls with the document) */
.view-header, .workspace-leaf.mod-active .view-header {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  height: calc(170px);
}

.workspace-split.mod-root .workspace-leaf {
  background-color: var(--background-primary);
}

.workspace > .workspace-split > .workspace-leaf:first-of-type:last-of-type .view-header {
  background-color: transparent;
  border: none;
}

.workspace-leaf {
  position: relative;
}
.workspace-leaf-content {
  overflow: auto;
  position: unset;
  margin-top: 35px;
}
.view-header-title-container {
  width: 100%;
  margin-top:auto;
  height:auto;
  padding:0;
}
.view-header-title-container:after {
  content: none;
}

.view-header-title {
  font-size: 40px;
  line-height: 1.2em;
  padding: 3px 2px;
  height:auto;
  margin:0;
  color: var(--text-normal);
  white-space: normal;
}

.view-actions {
  position: absolute;
  top:0;
  right:0;
  left:0;
  background-color: transparent;
  z-index:1
}
.view-header-icon {
  position: absolute;
  left:0;
  z-index: 2;
}

.view-content {
  height: auto;
}

.markdown-source-view{
  z-index:0;
}

.view-action {
  color: var(--text-normal);
}

.workspace-split.mod-vertical > .workspace-leaf:not(:last-child) {
  padding-right: 4px;
}

/* adjustments for the graph */
.mod-root .workspace-leaf-content[data-type="graph"] .view-header{
  height: auto;
}
.mod-root .workspace-leaf-content[data-type="graph"] .view-header .view-header-title-container{
  display: none;
}

.mod-root .workspace-leaf-content[data-type="graph"] .view-content {
  height: 100%;
}

/* Notion doesn't have multiple panes. And with the header modifications above,
  how do you tell which pane is active? I'm just putting a border around the
  active pane for now (unless there's only one pane) */
.workspace-leaf.mod-active{
  border:1px solid var(--interactive-accent);
}
.workspace-leaf:not(.mod-active),
.workspace > .workspace-split > .workspace-leaf:first-of-type:last-of-type {
  border:1px solid transparent;
}

/* fix for the search pane scrolling off the page */
.markdown-source-view, .workspace-split.mod-root .view-content {
  position: unset;
}